*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(-45deg, #000046,#1CB5E0);
	background-size: 200% 100%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container{
    margin: 30px;
}
.heading{
    text-align: center;
    margin-bottom: 30px;
    color:white;
    letter-spacing: 0.2rem;
}
.form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #fff;
    width: 40%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.18);
}
.label{
    font-size: 1.35rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 2px;
    margin-top: 25px;
    margin-left: 5px;
    align-items: center;
}
.input{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
    background: none;
    border-bottom:1px solid gray;
    font-size: 1.2rem;
    width: 100%;
}
.input:focus{
    box-shadow: 0px 0px 8px 2px rgba(2, 40, 212, 0.4);
    border: 2px solid #006fcf;
}
::placeholder{
    opacity: .4;
    font-size: 1rem;
}
.btn{
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background:linear-gradient(-45deg,#000428,#004e92);
    padding: 15px;
    cursor: pointer;
}
.btn:hover{
    background:linear-gradient(-45deg,#004e92,#000428);
}

i{
    margin-right: 10px;
    margin-bottom: 10px;
    color: #004e92;
}

@media(max-width:768px){
    .form{
        width: 80%;
    }
}

.toast{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
